<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Soil Sensor Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <br>
    <h1>Welcome to your dashboard</h1>
    <canvas id="lineChart" width="1000" height="600"> </canvas>
    <script>
        var ctx=document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label : "moisture level",
                        data: {{ values | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 75)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
</body>
</html>